<footer class="border-top">
    <div class="f-info">
        <div class ="social-info">
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-linkedin"></i>

        </div>
        
        <div class="f-brand"> PRIVATE LIMITED </div>

        <div class=" f-info-links">
            <a href="/privacy">privacy</a>
            <a href="/terms">Terms</a>
        </div>
    </div>
</footer>